@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply box-border;
  }
}
@layer components {
  .btn {
    @apply flex justify-center border gap-2 items-center p-3 rounded-md;
  }
  .btn-sm {
    @apply flex justify-center border gap-2 items-center px-3 py-1 rounded-md;
  }
  .input {
    @apply w-full rounded-md p-3 border border-slate-300 bg-white outline-none focus:border-slate-600 placeholder:text-sm;
  }
  .input-2 {
    @apply w-full p-3 border-b border-slate-300 bg-slate-100 outline-none focus:border-slate-600 placeholder:text-sm;
  }
  .container {
    @apply w-full max-w-[1000px];
  }

  .bg-mask {
    @apply after:absolute after:w-full after:h-full after:rounded after:top-0 after:left-0 after:bg-stone-900/5;
  }
}

@layer utilities {
  .btn-grey {
    @apply bg-stone-600 active:bg-stone-700 hover:bg-stone-700 text-white;
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
